*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#content{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

#leftsidenav {
  height: 100%;
  width: 12%;
  background-color: #CBCBCB;
}

#rightsidediv{
  width: 100%;
}

#topnav{
  height: 4%;
  width: 100%;
  background-color: #EAEAEA ;
}

#display{
  width: 100%;
}
